---
import { Image, Picture } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";

import post05IMG from "@images/post-05.png";
---

<MainLayout title="Im치genes">
  <h1 style="color:aliceblue" class="text-5xl">Im치genes</h1>

  <!-- Imagen est치tica -->
  <h2 style="color: aliceblue;">Imagen est치tica normal sin compression</h2>
  <img
    loading="eager"
    src="/assets/images/post-05.png"
    width="250"
    height="250"
    alt="post-05"
  />

  <!-- Imagen con estilo personalizado -->

  <h2 style="color:aliceblue">Imagen quality low</h2>
  <Image
    src={post05IMG}
    quality="low"
    alt="post-05"
    width={250}
    height={250}
    style={{ objectFit: "cover" }}
  />

  <h2 style="color:aliceblue">Imagen quality high</h2>
  <Image
    src={post05IMG}
    quality="high"
    alt="post-05"
    width={250}
    height={250}
    style={{ objectFit: "cover" }}
  />

  <h2 style="color: aliceblue;">Formatos</h2>
  <Image
    src={post05IMG}
    widths={[250, 500, 1000]}
    sizes="(max-width: 500px) 100vw, 500px"
    format="webp"
    alt="post-05"
    width={250}
    height={250}
    style={{ objectFit: "cover" }}
  />

  <h2 style="color:aliceblue;">Imagen Picture</h2>
  <Picture
    widths={[250, 500, 1000]}
    sizes="(max-width: 500px) 100vw, 500px"
    src={post05IMG}
    alt="post-05"
    width={250}
    height={250}
    style={{ objectFit: "cover" }}
  />
</MainLayout>
