---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";

import post05IMG from "@images/post-05.png";
---

<MainLayout title="Imagenes">
  <h1 class="text-5xl">Imagenes</h1>

  <img
    loading="eager"
    src="/assets/images/post-05.png"
    width="250px"
    height="250px"
    alt="post-05"
  />

  <Image src={post05IMG} alt="post-05" width="250" height="250" />

  <div
    style={{
      height: "3000px",
    }}
  >
    <img
      loading="lazy"
      src="/assets/images/post-01.png"
      width="250px"
      height="250px"
      alt="post-01"
    />
  </div>
</MainLayout>
