---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  favicon?: string;
}

const { title, favicon = "../../public/img/pokedex.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href={favicon} />
    <!--Required -->
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-slate-800 text-slate-100 m-auto max-w-3xl">
    <main class="mt-10"></main>
    <slot />
  </body>
</html>
